

.update-mod-a {
    display: none;
}
.update-mod-b {
    display: block;
}


/* #save{ 
    margin-top: 20px;
} */

.update-form{
    height: auto;
    margin-top: 10px;
}

.update-form p {
    width: 256px;
    /* padding: 1px 2px 1px 2px; */
    margin-right: 23px;
    font-size: 20px;
    margin: 0;
    margin-right: 23px;
}

.update-form #input {
    padding: 0;
    font-size: 20px;
    margin-right: 23px;
}

.update-form div:first-child {
    display: flex;
    align-items: center;
}

#update-back {
    display: block;
    margin-bottom: 20px;
}

#update-btn {
    border-radius: 5px;
    height: 20px;
    width: 100px;
    background-color: black;
}

#update-flex {
    justify-content: center;
}

.update-pwd-txt-b,
.update-email-txt-b  {
    display: none;
}

.update-email-txt,
 .update-email-txt-b {
     border-bottom: 1px solid rgba(231, 213, 213, 0);
 }

.update-pwd-input,
.update-email-input {
    display: none;
}

.update-pwd-input-b,
.update-email-input-b {
    display: block;
}

#pwd-input-flex {
    display: flex;
    flex-direction: column;
}

.pw-btn-open{
    display: flex;
    align-items: flex-end;
    height: 48px;
}

#update-save {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#update-save button {
    font-family: Helvetica, sans-serif;
    color: black;
    width: 80px;
    background-color: white;
    border-radius: 4px;
    border: none;
}

#update-save button:first-child {
    background-color: #673ab7;
    color: white;
}

#db-data {
    width: 100%;
    height: 50%;
    display: flex;
}

#db-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 12px;
    margin-bottom: 16px;
}
#db-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 22px;
    margin-bottom: 16px;
}

.update-phone-txt {
    display: block;
}

.update-phone-txt-b {
    display: none;
}

.update-phone-input {
    display: none;
}

.update-phone-input-b {
    display: block;
    width: 120px;
    padding: 0;
    border: none;
}


#phone-form {
    display: flex;
    align-items: center;
}

#phone-form p {
   font-size: 12px;
   width: 120px;
}

#phone-form button {
    height: 24px;
    width: 57px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 3px;
}

#phone-form input {
    outline: none;
    color: #673ab7;
    background-color: rgba(231, 213, 213, 0);
}

/* ~~~~~~ */

.update-zip-txt {
    display: block;
}

.update-zip-txt-b {
    display: none;
}

.update-zip-input {
    display: none;
}

.update-zip-input-b {
    display: block;
    width: 60px;
    padding: 0;
    border: none;
}


#zip-form {
    display: flex;
    align-items: center;
}

#zip-form p {
   font-size: 12px;
   width: 60px;
}

#zip-form button {
    height: 24px;
    width: 57px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 3px;
}

#zip-form input {
    outline: none;
    color: #673ab7;
    background-color: rgba(231, 213, 213, 0);
}