#load-gif {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#load-gif video {
    width: 100px;
    z-index: 3;
}

#load-gif img {
    width: 100px;
}

/* desktop */
@media only screen and (min-width: 2000px){
    #load-gif video {
        width: 200px;
    }

    #load-gif img {
    width: 200px;
}
}

html {
    background-color: #ffdede;
}

#show-container {
    width: 1000px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* mobile */

@media only screen and (max-width: 1000px) {
    #show-container {
        width: 100%;
    }
}

/* intermediate */
@media (orientation:landscape) and (min-width: 1400px){
    #show-container {
        height: 910px;
        width: 1300px;
    }
}

/* windows1 */
@media only screen and (min-width: 1700px){
    #show-container {
        height: 1050px;
        width: 1500px;
    }
}
/* windows2 */
@media only screen and (min-width: 2500px){
    #show-container {
        height: 1400px;
        width: 2000px;
    }
}

#nav {
    width: 100%;
    top: 0;
    height: 45px;
    position: absolute;
    z-index: 12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#nav img {
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}



.burger, .burger-open {
    display: block;
    filter: drop-shadow(1px 1px 2px rgba(255, 255, 255, .4));
}

.burger-b {
    display: none;
}

.drop-down {
    display: none;
}

.drop-down-clicked {
    top: 45px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
    padding: 10px 10px 10px 15px;
    background-color: #673ab7;
}

.drop-down-clicked p {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom: 2px;
    color: white;
}
.drop-down-clicked p:hover {
    cursor: pointer;
}


/*adjusts flex on media query*/
.profile {
    height: 70%;
    width: 100%;
    display: flex;
}


#mod1-contain {
    height: 100%;
    width: 50%;
    overflow: hidden;
    /* display: flex;
    align-items: center;
    justify-content: flex-end; */
}

.avi-contain {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 5;
    display: flex;
    align-items: flex-end;
}

.avi-contain #name-contain{
    z-index: 8;
    position: absolute;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    color: white;
}

#name-contain h2, #name-contain h3  {
    margin: 0;
}

#name-contain h3 {
    color: gray;
    font-size: 11px;
}

#name-contain h3:hover {
    cursor: pointer;
}

.avi-back {
  position: relative;
  height: 40%;
  width: 100%;
}

.avi-flex {
    height: 40%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.avi {
    position: relative;
    z-index: 7;
    border-radius: 50%;
    width: 125px;
    /* margin-bottom: 23%; */
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.mod-image {
    height: 100%;
    width: 100%;
    position: relative;
    top: -100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#mod2-contain {
    height: 100%;
    width: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}



@media (orientation:portrait) {
    #show-container {
        height: 1300px;
    }
    .profile {
        flex-direction: column;
        height: 100%;
    }

    #mod1-contain {
        width: 100%;
        align-items: flex-end;
        justify-content: center;
    }
    #mod2-contain {
        width: 100%;
        align-items: flex-start;
        justify-content: center;
    }

    .avi-back {
        height: 25%;
    }

    .avi-flex {
        height: 25%;
    }
    .avi {
        width: 100px;
    }
}

@media (orientation: portrait) and (max-width: 500px) {
    #show-container {
        height: 1000px;
    }
    
    .avi {
        width: 75px;
    }
}

@media (orientation:landscape) and (max-height: 1200px){
    #show-container {
        height: 100vh;
    }
}


